body {
  font-family: 'Roboto', sans-serif;
}

.loginBlock {
  padding: 60px;
  background-color: white;
  min-width: 320px;
  min-height: 126px;
  margin: auto;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  max-width: 400px;

  input {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }

  button {
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
  }

  h3 {
    margin-top: 0;
  }
}

.ledgerModal {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px;
  background-color: white;
  min-width: 320px;
  margin: auto;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  display: none;

  &.active {
    display: table;
  }

  .closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.4;
    color: #000;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.blackBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;

  &.active {
    display: block;
  }
}
